.numberGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 150px;
    height: 200px;
}

.operationsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50px;
    width: 350px;
}

.displayContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;
    color: lime;
    width: 500px;
    height: 50px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    margin-right: 5px;
}

.display::after {
    content: "";
    width: 3px;
    height: 20px;
    background: lime;
    display: inline-block;
    animation: blink 1.15s steps(2) infinite;
  }

  @keyframes blink {
      0% {
          opacity: 0;
      }
  }