:root {
    --width: 400px;
    --btnSize: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3800a7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a017e, #5d1d96);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a017e, #5d1d96); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.calcBtn {
    width: var(--btnSize);
    font-family: 'Press Start 2P', cursive;
}

.calcBtn:hover {
    background-color: purple;
}

#btnOperate {
    width: calc(var(--btnSize) * 4);
}

#btnDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    display: inline-block;
}

.topBorder, .bottomBorder, .centerBorder {
    display: flex;
    width: calc(var(--width) + var(--btnSize) + var(--btnSize));
    height: var(--btnSize);
}

.displayContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;
    color: lime;
    width: var(--width);
    height: 50px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    margin-right: 5px;
}

.display::after {
    content: "";
    width: 3px;
    height: 20px;
    background: lime;
    display: inline-block;
    animation: blink 1.15s steps(2) infinite;
}

.calculator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.history {
    position: absolute;
    color: lime;
    z-index: 1;
}

.source {
    position: absolute;
    bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-size: .75em;
}

@media screen and (max-width: 525px) {
    :root {
        --width: 200px;
        --btnSize: 25px; 
    }
    .displayContainer {
        height: 100px;
    }
    .centerBorder {
        height: 100px;
    }
    p {
        transform: rotate(-90deg);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
}